<template>
  <div id="app">
    <User/>
    <div v-if="this.$store.getters.isLogged">
      <CanAutoplay/>
      <ActiveMatch/>
      <Pickups/>
      <MatchModal/>
      <LeaderBoardModal/>
      <Stats/>
    </div>
  </div>
</template>

<script>
import ActiveMatch from './components/ActiveMatch.vue'
import MatchModal from './components/MatchModal.vue'
import Pickups from './components/Pickups.vue'
import User from './components/User.vue'
import CanAutoplay from './components/CanAutoplay.vue'
import Stats from './components/Stats.vue'
import LeaderBoardModal from './components/LeaderBoardModal.vue'

export default {
  name: 'App',
  components: {
    ActiveMatch, MatchModal, Pickups, User, CanAutoplay, Stats, LeaderBoardModal
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 10px;
}
</style>
