<template>
  <modal name="match-modal" :click-to-close="canClose()" :scrollable="true" :adaptive="true" height="auto">
    <div v-if="match !== null">
      <h1 v-if="!is_ready">You got {{ match.pickup }} game</h1>
      <h1 v-else>Your {{ match.pickup }} match</h1>
      <div v-if="match.state == 'waiting_ready'" class="waiting-ready">
        <span>Waiting on:</span>
        <ul class="not_ready_list">
          <li v-for="[idx,player] in not_ready_players.entries()" v-bind:key="idx">{{ player.nick }}</li>
        </ul>
        <div>
          <button v-if="!is_ready" @click="send_ready">☑️ Ready</button>
          <span v-else>You are ready!</span>
          <button v-if="!is_ready" @click="send_not_ready">⛔ Abort</button>
          <div>{{ time_left }} seconds left</div>
        </div>
        <div class="audio">
          <audio v-if="!is_ready" controls loop autoplay src="./../assets/old-fashioned-school-bell-daniel_simon.mp3" type="audio/mpeg"/>
          <div><a href="http://soundbible.com/2185-Old-School-Bell.html">alarm audio author and licence</a></div>
        </div>
      </div>
      <div v-if="match.state == 'map_picking'" class="map-picking">
        <h2>map picking not implemented yet</h2>
        <div>
          <div>
            <h3>Picked maps</h3>
            <ul class="maps picked-maps">
              <li v-for="[idx,map] in match.picked_maps.entries()" v-bind:key="idx">{{ map }}</li>
            </ul>
          </div>
          <div>
            <h3>Unpicked maps</h3>
            <ul class="maps unpicked-maps">
              <li v-for="[idx,map] in match.unpicked_maps.entries()" v-bind:key="idx">{{ map }}</li>
            </ul>
          </div>
        </div>
      </div>
      <div v-if="match.state == 'teams_picking'" class="teams-picking">
        <h2>teams picking</h2>
        <div class="picks">
          <span v-for="[idx,pick] in match.pick_order.split('').entries()" :key="idx" :class="pick_class(idx,match.pick_step)">
            {{ pick }}
          </span>
          <span class="turn">
            <span v-if="is_pick_player_turn()"> YOUR TURN! </span>
            <span v-else>{{ who_turn().nick }}'s turn</span>
          </span>
        </div>
        <div>
          <div>
            <h3>Alpha</h3>
            <ul class="players_pick_list picked">
              <li v-for="[idx,player] in match.alpha_team.entries()" v-bind:key="idx">{{ player.nick }}</li>
            </ul>
          </div>
          <div>
            <h3>Beta</h3>
            <ul class="players_pick_list picked">
              <li v-for="[idx,player] in match.beta_team.entries()" v-bind:key="idx">{{ player.nick }}</li>
            </ul>
          </div>
          <div>
            <h3>Unpicked</h3>
            <ul class="players_pick_list unpicked">
              <li v-for="[idx,player] in match.unpicked.entries()" v-bind:key="idx">
                <button @click="send_pick(player)" v-if="is_pick_player_turn()">{{ player.nick }}</button>
                <span v-else>{{ player.nick }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div v-if="match.state == 'waiting_report'" class="waiting-report">
        <h2>report loss is not implemented yet</h2>
        <button @click="send_report_loss">Report loss</button>
      </div>
      <div v-if="match.state == 'finished'" class="finished">
        <h2>Match is finished</h2>
      </div>
    </div>
  </modal>
</template>

<script>
export default {
  name: 'MatchModal',
  data() {
    return {
      timestamp: null
    }
  },
  computed: {
    match () {
      return this.$store.state.match
    },
    user_id () {
      return this.$store.state.user_id
    },
    is_ready() {
      return this.match !== null && this.user_id !== null && this.match.players_ready.some((el) => el==this.user_id)
    },
    not_ready_players() {
      // list(filter(lambda i: i.id not in self.players_ready, self.players))
      return this.match.players.filter(player => !this.match.players_ready.some( el => el==player.id ))
    },
    time_left() {
      return this.timestamp && this.match.require_ready - Math.round(( this.timestamp.getTime() - this.match.start_time*1000 ) / 1000)
    },
    shouldShowModal() {
      return (this.match !== null && this.match.state == 'waiting_ready' && !this.is_ready)
    }
  },
  watch: {
    match() {
        if (this.shouldShowModal) {this.show()}
        if (this.match === null) {this.hide()}
    }
  },
  methods: {
    show () {
      this.$modal.show('match-modal');
      //console.log('show-match-modal')
    },
    hide () {
      this.$modal.hide('match-modal')
      //console.log('hide-match-modal')
    },
    send_ready() {
      this.$store.dispatch('send_ready', true)
    },
    send_not_ready() {
      this.$store.dispatch('send_ready', false)
    },
    send_report_loss() {
      //this.$store.dispatch('send_ready', false)
      console.log("!rl not implemented yet")
    },
    send_pick(player) {
      this.$store.dispatch('send_pick', player)
    },
    getNow() {
      this.timestamp = new Date();
    },
    canClose() {
      return (this.match !== null && this.match.state != 'waiting_ready') || this.is_ready
    },
    pick_class(idx, pick_step) {
      if (idx < pick_step) return {grey: true}
      else if (idx === pick_step) return {pick_active: true}
    },
    is_pick_player_turn() {
      var turn = this.match.pick_order[this.match.pick_step]
      var turn_team = (turn == 'a') ? this.match.alpha_team : this.match.beta_team
      return turn_team[0].id == this.user_id
    },
    who_turn() {
      var turn = this.match.pick_order[this.match.pick_step]
      var turn_team = (turn == 'a') ? this.match.alpha_team : this.match.beta_team
      return turn_team[0]
    }
  },
  mounted() {
    this.$root.$on('show-match-modal', () => {
            this.show()
    })
    if (this.match !== null) {this.show()}
    else {this.hide()}
  },
  created() {
    //this.show()
    setInterval(this.getNow, 1000)
  }

}
</script>

<style>
  .map-picking>div {
    display: flex;
  }
  .map-picking div {
    margin: 10px;
  }

  .teams-picking>div {
    display: flex;
  }
  .teams-picking div {
    margin: 10px;
  }

  .audio a {
    font-size: 0.8rem;
  }

  .picks .grey {
    color: silver;
  }
  .picks .pick_active {
    border: 1px dashed red;
  }

  .picks .turn {
    margin: 0 5px;
  }

</style>